@import 'tailwindcss';


@layer utilities {
    .bg-brand-gradient {
        background: linear-gradient(135deg, #ed7f65, #f8b540);
    }

    .bg-login {
        background-image: url('~public/images/backgrounds/login3.jpg');
    }
}